# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/

# Environment variables
.env

# IDE / Editor stuff
.vscode/
.idea/

# Byte-compiled / logs / misc
*.log
*.sqlite3
.DS_Store
./inventory_db.sql
./testingBranchItems.sql