body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    color: #1a1a1a;
}

header {
    background-color: #4C5B61;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
}

nav a {
    color: #d1d5db;
    text-decoration: none;
    margin: 0 0.75rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #d9d1dc;
    color: #1a1919;
}

nav a.active {
    background-color: #F8F0FB;
    color: #1a1919;
}

main {
    padding: 2rem;
}

.card {
    background: #ffffffb0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.submit_card {
    background: white;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 75px;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.submit_card_title {
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;
}

.submit_card_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap: 0.25rem 3rem;
    margin: 0 auto;
    max-width: 300px;
}

.submit_card_text {
    font-style: italic;
    text-align: left;
    margin: 0;
}
