<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
<header>
    <div class="brand">Inventory System</div>

    <nav>
        {% if role == "cashier" %}
            <a href="/home?role={{role}}&email={{email}}" class="{% if page == 'home' %}active{% endif %}">Home</a>
            <a href="/cashier?role={{role}}&email={{email}}" class="{% if page == 'cashier' %}active{% endif %}">Bill Purchase</a>
            <a href="/login">Logout</a>

        {% elif role == "manager" %}
            <a href="/home?role={{role}}&email={{email}}" class="{% if page == 'home' %}active{% endif %}">Home</a>
            <a href="/inventory?role={{role}}&email={{email}}" class="{% if page == 'inventory' %}active{% endif %}">Inventory</a>
            <a href="/manager?role={{role}}&email={{email}}" class="{% if page == 'manager' %}active{% endif %}">Place Order</a>
            <a href="/login">Logout</a>

        <!-- login page -->
        {% else %}
            <!-- no navigation for login page -->
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>